<ng2-toasty [position]="'top-right'"></ng2-toasty>
<h4 md-dialog-title>Room Allocation List</h4>
<hr>
<md-dialog-content>
    <div class="row">
      <div class="col-lg-2" *ngFor="let class of AllocationList">
          <md-card *ngIf="class.isAccept" class="example-card">
              <md-card-header>
                  <span fxFlex></span>
                  <button md-icon-button [mdMenuTriggerFor]="menu">
                      <md-icon>more_vert</md-icon>
                  </button>
                  <md-menu #menu="mdMenu">
                    <button md-menu-item disabled>
                      <md-icon>edit</md-icon>
                      <span>Update</span>
                    </button>    
                    <button md-menu-item (click)="DeleteRoomAllocation(class.Id)">
                      <md-icon>delete</md-icon>
                      <span>Rmove</span>
                    </button>
                  </md-menu> 
              </md-card-header>
              <md-card-content>
                <div style="height: 50px;" fxLayout="row" fxLayoutAlign="center center">
                    <span class="md-headline">{{class.RoomNo}}</span>
                </div>
                <div fxLayout="column" fxLayoutAlign="center center">
                  <span class="courseCode">{{class.CourseCode}}</span>
                  <span class="teacherInitial">{{class.TeachersInitial}}</span>
                  <span class="timeSlot">{{class.TimeSlot}}</span>
                  <span class="date">{{class.Date|date}}</span>
                </div>
              </md-card-content>
            </md-card>
            <md-card *ngIf="!class.isAccept" class="pending-card">
                <md-card-header>
                    <span fxFlex></span>
                    <button md-icon-button [mdMenuTriggerFor]="menu">
                        <md-icon>more_vert</md-icon>
                    </button>
                    <md-menu #menu="mdMenu">
                      <button md-menu-item disabled>
                        <md-icon>edit</md-icon>
                        <span>Update</span>
                      </button>    
                      <button md-menu-item (click)="DeleteRoomAllocation(class.Id)">
                        <md-icon>delete</md-icon>
                        <span>Rmove</span>
                      </button>
                    </md-menu> 
                </md-card-header>
                <md-card-content>
                    <div style="height: 50px;" fxLayout="row" fxLayoutAlign="center center">
                        <span class="md-headline">{{class.RoomNo}}</span>
                    </div>
                    <div fxLayout="column" fxLayoutAlign="center center">
                      <span class="courseCode">{{class.CourseCode}}</span>
                      <span class="teacherInitial">{{class.TeachersInitial}}</span>
                      <span class="timeSlot">{{class.TimeSlot}}</span>
                      <span class="date">{{class.Date|date}}</span>
                    </div>
                </md-card-content>
              </md-card>
      </div>
    </div>
    <br>
</md-dialog-content>
<hr>
<md-dialog-actions layout="row">
    <span fxFlex></span>
    <button md-raised-button class="md-warn" color="accent" (click)="closeDialog()"><i class="fa fa-times" aria-hidden="true"></i> Close</button>
</md-dialog-actions>
