<div md-dialog-title>Add Room Allocation</div>
<hr>
<md-dialog-content>
    <div class="containerX">
        <div class="row" style="margin-bottom: 30px">
            <div class="col-lg-12 text-center dayName">{{ModifyRoutine.DayName}}</div>
            <div class="col-lg-12">
              <div class="row">
                <div class="col-lg-2" *ngFor="let eachTimeSlot of ModifyRoutine.Classes">
                  <div class="text-center timeSlot">{{eachTimeSlot.TimeSlot}}</div>
                  <div class="row">
                      <div class="col-lg-12" *ngFor="let classGroup of eachTimeSlot.ClassGroup">
                          <div *ngIf="!classGroup.isNoClass">
                              <md-card class="example-card">
                                  <md-card-content>
                                    <div style="height: 80px;" fxLayout="row" fxLayoutAlign="center center">
                                        <span class="md-headline">{{classGroup.RoomNo}}</span>
                                    </div>
                                    <div fxLayout="column" fxLayoutAlign="center center">
                                      <span class="courseCode">{{classGroup.CourseCode}}</span>
                                      <span class="teacherInitial">{{classGroup.TeachersInitial}}</span>
                                    </div>
                                  </md-card-content>
                                  <md-card-actions fxLayout="column">
                                      <button md-raised-button disabled color="warn">APPLY</button>
                                  </md-card-actions>
                                </md-card>
                          </div>
                          <div *ngIf="classGroup.isNoClass">
                              <md-card class="example-card">
                                  <md-card-content>
                                    <div style="height: 80px;" fxLayout="row" fxLayoutAlign="center center">
                                        <span class="md-headline">{{classGroup.RoomNo}}</span>
                                    </div>
                                    <div fxLayout="column" fxLayoutAlign="center center">
                                      <span class="noClass">NO Class!</span>
                                      <md-icon svgIcon="correct-svg"></md-icon>
                                    </div>
                                  </md-card-content>
                                  <md-card-actions fxLayout="column">
                                    <button md-raised-button class="md-accent" color="warn" (click)="applyRoom(ModifyRoutine.DayName,eachTimeSlot.TimeSlot,classGroup.RoomNo)">APPLY</button>
                                  </md-card-actions>
                                </md-card>
                          </div>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </div>
</md-dialog-content>
<md-dialog-actions layout="row">
    <span fxFlex></span>
    <button md-raised-button class="md-warn" color="accent" (click)="closeDialog()"><i class="fa fa-times" aria-hidden="true"></i> Close</button>
</md-dialog-actions>